---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<section class="homeImage">
    <article>
        <h3>Earbuds</h3>
        <img  alt="Earbuds" src="/images/earbuds.jpg" width="600" />
    </article>
    <article>
        <h3>Laptop</h3>
        <img  alt="Laptop" src="/images/laptop.jpg" width="600" />
    </article>
    <article>
        <h3>Keys</h3>
        <img  alt="Keys" src="/images/keys.jpg" width="600" />
    </article>
</section>    

