---
layout: layout.liquid
title: 11ty Boilerplate
---
<h1> What I can't leave home without </h1>
<section class="homeImage">
    <article>
        <h2>Earbuds</h2>
        {% itemNames 'Raycon Fitness Earbuds' ,  'Raycon' %}
        <img  alt="Earbuds" src="/images/earbuds.jpg" width="600" />
    </article>
    <article>
        <h2>Laptop</h2>
        {% itemNames 'Legion 5 16IRX9' ,  'Lenovo' %}
        <img  alt="Laptop" src="/images/laptop.jpg" width="600" />
    </article>
    <article>
        <h2>Keys</h2>
        {% itemNames 'Assorted Keys/Fobs' ,  'Home Depot/dorma kaba' %}
        <img  alt="Keys" src="/images/keys.jpg" width="600" />
    </article>
</section>    

