---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<section class="homeImage">
    <img  alt="Earbuds" src="/images/earbuds.jpg" width="600" />
    <img  alt="Laptop" src="/images/laptop.jpg" width="600" />
    <img  alt="Keys" src="/images/keys.jpg" width="600" />
</section>    

