body {
    background: #667b82;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 450px;
    border-radius: 20px;
    background: #2db380;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #667b82;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 7em;
    color: #2db380;
    -webkit-text-stroke: 1px black;
}

.homeImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    color: black;
}

.itempagephoto {
    margin: 20px;
}