body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #5d6a75;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 450px;
    border-radius: 50px;
    background: #2db380;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #3a3a3d;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.homeImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

img {
    margin: 20px;
}